:root {
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --primary-text-color-dark: #fff;
  --secondary-text-color-dark: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --secondary-accent-color: #188ce8;
  --primary-bgc: #fff;
  --secondary-bgc: #2f303a;
  --secondary-bgc-dark: #f5f4fa;
  --studio-header-color: #000;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --section-padding-top: 94px;
  --section-padding-bottom: 94px;
  --column-gap: 30px;
  --row-gap: 30px;
}

body {
  font-family: var(--primary-font);
  color: var(--primary-text-color);
  background-color: var(--primary-bgc);
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

button {
  display: block;
  margin: 0 auto;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding-top: var(--section-padding-top);
  padding-bottom: var(--section-padding-bottom);
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--accent-color);
}

.header-logo-studio {
  color: var(--studio-header-color);
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  padding-top: 24px;
  padding-bottom: 24px;
  margin-right: 93px;
}

nav {
  display: flex;
  align-items: center;
}

.menu {
  display: flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.menu .link.current {
  color: var(--accent-color);
}

.menu-link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.contacts {
  display: flex;
  margin-left: auto;
}

.contact-info {
  display: flex;
  align-items: center;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
  fill: currentColor;
}

.contact-item:not(:last-child) {
  margin-right: 50px;
}

.contact-icon {
  margin-right: 10px;
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}

.contact-icon:hover,
.contact-icon:focus {
  fill: var(--accent-color);
}

.hero {
  text-align: center;
  padding: 200px 0;

  background-color: var(--secondary-bgc);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;

  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  color: var(--primary-text-color-dark);
}

.btn {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  min-width: 216px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  padding: 10px 32px;
  color: var(--primary-text-color-dark);
  background-color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  background-color: var(--secondary-accent-color);
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.features {
  padding-bottom: 0;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
}

.features-list > li {
  flex-basis: calc((100% - 90px) / 4);
}

.features-list .title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-list .text {
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.features-image {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  /*margin-left: auto;
  margin-right: auto; */
  width: 270px;
  height: 120px;
  background-color: var(--secondary-bgc-dark);
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;

  margin-bottom: 50px;
  text-align: center;
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
}

.team {
  background-color: var(--secondary-bgc-dark);
}

.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  margin-bottom: 50px;
  text-align: center;
}

.team-list {
  display: flex;
  justify-content: center;
  column-gap: var(--column-gap);
}

.team-list .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-images {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
}

.team-image-subtitle {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: var(--primary-bgc);
}

.position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-bgc);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
}

.clients-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-list {
  display: flex;
  justify-content: center;
  column-gap: var(--column-gap);
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.clients-list-icon {
  /* fill: currentColor; */
}

.clients-link:hover,
.clients-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.footer-logo-studio {
  color: var(--primary-text-color-dark);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--secondary-bgc);
}

.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.address {
  margin-top: 20px;
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.address-link {
  line-height: 1.71;
  color: var(--primary-text-color-dark);
}

.address-link:hover,
.address-link:focus {
  color: var(--primary-text-color-dark);
}

.contact-link {
  line-height: 1.71;
  color: var(--contact-footer-color);
}

.btn-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  padding: 6px 22px;
  color: var(--primary-text-color);
  background-color: var(--secondary-bgc-dark);
}

.btn-nav:hover,
.btn-nav:focus {
  color: var(--primary-text-color-dark);
  background-color: var(--accent-color);
}

.page-nav {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 50px;
}

.examples .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.examples .text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-text-color);
}

.examples {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--column-gap);
  row-gap: var(--row-gap);
}

.examples-image-subtitle {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
